
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.class

# Package Files #
*.jar
*.war
*.ear

# User configuration / properties
etc/conf/user.properties

# Test files
etc/conf/testconf.txt

# Local log files
log/*

# External tool builders
.externalToolBuilders/

# # Locally stored "Eclipse launch configurations"
*.launch

# # CDT-specific
.cproject

# # PDT-specific
.buildpath
/bin

/inputOutput
/doc
